name: Test
on: [ push, pull_request ]

jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Run Tests
        run: go test -race ./...
